# Movies Tonight Part 2: SQL DDL

In [1]:
%load_ext sql

***Note: This code worked in MySql Workbench***

CREATE DATABASE IF NOT EXISTS Movies;
USE Movies;
DROP TABLE IF EXISTS ARTIST, MOVIES, THEATER, SHOWTIME, CREDIT;
CREATE TABLE ARTIST(ArtistID int NOT NULL auto_increment, 
Name varchar(50) default NULL, 
PRIMARY KEY (ArtistID));
CREATE TABLE MOVIES(MovieID int NOT NULL auto_increment, 
Rating varchar(10) default NULL, 
Title varchar(50) default NULL, 
PRIMARY KEY (MovieID));
CREATE TABLE THEATER(TheaterID int NOT NULL auto_increment, 
Name varchar(50) default NULL, 
Location varchar(50) default NULL, 
Phone int default NULL,
PRIMARY KEY (TheaterID));
CREATE TABLE SHOWTIME(TheaterID int default NULL, 
MovieID int default NULL, 
Time time default NULL, 
FOREIGN KEY (TheaterID) REFERENCES THEATER(TheaterID),
FOREIGN KEY (MovieID) REFERENCES MOVIES(MovieID));
CREATE TABLE CREDIT(MovieID int default NULL, 
ArtistID int default NULL, 
CCode varchar(1) default NULL, 
FOREIGN KEY (MovieID) REFERENCES MOVIES(MovieID),
FOREIGN KEY (ArtistID) REFERENCES ARTIST(ArtistID));

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [28]:
%sql sqlite:///Movies.db

'Connected: @Movies.db'

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [31]:
%%sql
DROP TABLE IF EXISTS THEATER;
CREATE TABLE THEATER (
    TheaterID INTEGER NOT NULL PRIMARY KEY, 
    Name TEXT NOT NULL, 
    Location TEXT NOT NULL, 
    Phone INTEGER NOT NULL);
DROP TABLE IF EXISTS MOVIES;
CREATE TABLE MOVIES (
    MovieID INTEGER PRIMARY KEY,
    Rating TEXT,
    Title TEXT NOT NULL);
DROP TABLE IF EXISTS ARTIST;
CREATE TABLE ARTIST (
    ArtistID INTEGER NOT NULL PRIMARY KEY,
    Name TEXT NOT NULL,
    Bio TEXT,
    HeadShot BLOB);
DROP TABLE IF EXISTS SHOWTIME;
CREATE TABLE SHOWTIME (
    ShowID INTEGER NOT NULL PRIMARY KEY,
    MovieID INTEGER NOT NULL,
    TheaterID INTEGER NOT NULL,
    Time TEXT NOT NULL,
    FOREIGN KEY (MovieID) REFERENCES Movies (MovieID),
    FOREIGN KEY (TheaterID) REFERENCES Theater (TheaterID));
DROP TABLE IF EXISTS CREDIT;
CREATE TABLE CREDIT (
    CreditID INTEGER PRIMARY KEY,
    MovieID INTEGER NOT NULL,
    ArtistID INTEGER NOT NULL,
    CCode TEXT NOT NULL,
    FOREIGN KEY (MovieID) REFERENCES Movies (MovieID),
    FOREIGN KEY (ArtistID) REFERENCES ARTIST (ArtistID));

 * sqlite:///Movies.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [27]:
ALTER TABLE CREDIT
   ADD FOREIGN KEY(MovieID) REFERENCES MOVIES(MovieID),
ALTER TABLE CREDIT
   ADD FOREIGN KEY (ArtistID) REFERENCES ARTIST(ArtistID)
ALTER TABLE SHOWTIME
   ADD FOREIGN KEY (TheaterID) REFERENCES THEATER(TheaterID),
ALTER TABLE SHOWTIME
   ADD FOREIGN KEY (MovieID) REFERENCES MOVIES(MovieID);

SyntaxError: invalid syntax (<ipython-input-27-e9cc1a9d6488>, line 1)

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".

In [ ]:
Travis Fuller